<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<% @restaurant.reviews.each do |review| %>
  <p>
    <%= review.rating %>
    <%= review.content %>
  </p>
<% end %>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
