<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<% @restaurant.reviews.each do |review| %>
  <p>
    <%= review.rating %>
    <%= review.content %>
  </p>
<% end %>

<p>
  <%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
</p>
